/* Coffee Shop Website CSS and Color Pallette */

body {
    background-color: beige;
    color: #333333;
}

a {
    color: brown;
}

a:visited {
    color: brown;
}

a:hover {
    color: tan;
}

header {
    font-size: x-large;
    font-weight: bold;
    padding: 10px;
    background-color: khaki;
}

code {
    background-color: tan;
    padding: 10px;
}

blockquote {
    padding: 10px;
}

#websiteheader {
    font-size: xx-large;
    color: khaki;
    background-color: brown;
    padding: 10px;
}

/* Product Landing CSS */
:root {
    --product-color: tan;
    --button-color: khaki;
    --cover-color: brown;
    --basic-color: beige;
}

#header-img {
    max-height: 60px;
}

.submit-btn {
    background-color: var(--button-color);
}

.product {
    display: block;
    justify-content: center;
}

.producttitle {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: var(--product-color);
    padding: 10px;
    margin: 0 1px;
}

.productspecs {
    padding: 0px;
    list-style: none;
    text-align: center;
}

.productspecs li {
    padding: 10px;
}

#topgrid {
    position: fixed;
    /* Makes the menu stay in place */
    top: 0;
    /* Positions it at the top of the viewport */
    left: 0;
    /* Positions it at the left edge of the viewport */
    width: 100%;
    /* Makes it span the entire width of the viewport */
    z-index: 100;
    /* Ensures the menu is on top of other content */
}

#contentgrid {
    margin-top: 60px;
    padding: 10px;
    text-align: center;
}

#rightgrid {
    display: flex;
    justify-content: right;
}

.icon {
    text-align: right;
}

.desc {
    text-align: left;
}


nav {
    padding: 10px;
}

nav ul {
    list-style: none;
    /* Remove default bullet points */
    margin: 0;
    padding: 0;
    display: flex;
    /* Enable Flexbox */
    justify-content: space-around;
    /* Distribute items evenly with space around */
}

nav li {
    margin: 0 10px;
    /* Add some spacing between list items */
}

nav a {
    text-decoration: none;
    /* Remove underline from links */
    font-size: 14pt;
}

#nav-bar {
    width: 75%;
}

.pure-button-primary {
    background-color: var(--button-color);
    color: black;
}

#PerfectGear {
    padding-bottom: 10px;

}

#ExpressYourself {
    text-align: center;
    /* Center horizontally */
    background-color: var(--product-color);
    padding: 10px;
}

#SubscribeNewsletter {
    color: var(--basic-color);
    text-align: center;
    /* Center horizontally */
    background-color: var(--cover-color);
    padding: 10px;
}

#video {
    width: 50%;
    height: 50%;
    max-width: 800px;
    min-height: 450px;

}

@media screen and (min-width: 480px) {}